@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter Variable,
        Inter,
        ui-sans-serif,
        system-ui,
        sans-serif,
        apple color emoji,
        segoe ui emoji,
        Segoe UI Symbol,
        noto color emoji;
}