@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item {
        @apply flex text-sm text-gray-600 transition rounded-full;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter Variable, Inter, ui-sans-serif, system-ui, sans-serif,
        apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;
}

.header-active {
    @apply py-2 bg-white/80 border-gray-200 backdrop-blur-lg;
}

/* màu chính */
.primary-color {
    color: #4338ca;
}

/* Feature */
.feature {
    padding: 100px 20px;
}

.feature .content_1 {
    grid-column: 1/3;
}

.feature .image_1 img {
    width: 90%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    margin: 0 0;
}

.feature .image_2 img {
    width: 90%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    margin: 0 0;
}

.feature .tilte_1 {
    width: 90%;
}

.feature .img_2 {
    grid-column: 3/5;
}

/* more-feature */

.card {
    @apply flex flex-col gap-4 items-start hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5;
}

.more-feature .card:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(244, 244, 244, 0.623);
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    border-radius: 10px;
}

.more-feature .icon {
    --tw-bg-opacity: 1;
    background-color: rgb(238 242 255 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(224 231 255 / var(--tw-border-opacity));
    border: 1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.more-feature i {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
    font-size: 20px;
}

/* short-desc */
.short-desc button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: #4338ca;
}

/* footer */

.footer li {
    margin-top: 10px;
}

.footer .h {
    transition: all 0.1s;
}

.footer .h:hover {
    color: #4338ca;
}